@import "primer-core/index.scss";

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: #B61E2E;
  color: #fff;
  padding: 15px;
  font-size: 1.25rem;

  a {
    color: #fff;
    text-decoration: none;
  }

  i {
    margin-right: 15px;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.view {
  flex: 1;
}

.button {
  border: none;
  border-radius: 3px;
  background: #4CAF50;
  color: #fff;
  line-height: 2rem;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &--primary {
    width: 250px;
    background: #4CAF50;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);

    &:hover {
      background: darken(#4CAF50, 5%);
    }
  
    &:active {
      background: darken(#4CAF50, 10%);
    }

  }

  &--default {
    background: #f5f5f5;
    color: #333;
    padding: 0 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.05);
    border: 1px solid #ddd;

    &:hover {
      background: darken(#f5f5f5, 5%);
      text-decoration: none;
    }
  
    &:active {
      background: darken(#f5f5f5, 10%);
    }

  }
  
  
}
