<div id="root"></div>
<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
<%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' %>
<%= stylesheet_pack_tag 'index' %>
<%= javascript_pack_tag 'index' %>