.courses-view {
  display: flex;

  .sidebar {
    flex: 1;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  
  .content {
    flex: 2;
    display: flex;
  }

}

.course-search {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;

  .search-input {
    flex: 1;
  }
}

.search-input {
  display: flex;

  i {
    line-height: 2.25rem;
    color: #333;
    padding: 0 10px;
    background: #fff;
  }

  input {
    line-height: 2.25rem;
    color: #333;
    flex: 1;
    padding: 0 5px;
    border: none;
    background: #fff;
  }

}

.terms-dropdown {
  position: relative;
  border-left: 1px solid #ddd;
  
  select {
    line-height: 2.25rem;
    background: #F5F5F5;
    color: #333;
    padding-left: 10px;
    line-height: 2.25rem;
    width: 150px;
    border: none;
    border-radius: inherit;
    cursor: pointer;
    -webkit-appearance: none;

    &:hover {
      background: darken(#F5F5F5, 5%);
    }
  }

  i {
    line-height: 2.25rem;
    color: #333;
    line-height: 2.25rem;
    position: absolute;
    right: 10px;
    pointer-events: none;
  }
}

.course-list {
  flex: 1;
  overflow-y: scroll;
  margin: 10px 0;
  padding: 0 5px;
  cursor: pointer;

  li {
    font-size: .85rem;
    line-height: 2rem;
    list-style: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

}

.selected-courses {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0;
  padding: 0;

  li {
    position: relative;
    font-size: .8rem;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }

  .course-code {
    display: block;
    font-weight: 900;
  }

  .course-title {
    font-size: 1.25rem;
  }

  p {
    max-width: 700px;
  }

  .deselect-course {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.courses-message {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;

  i {
    font-size: 5rem;
  }

  span {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}