.courses-view {
  display: flex;
}

.course-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #fafafa;

  ul {
    flex: 1;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    box-shadow: -2px 2px 15px rgba(0,0,0,.15) inset;
  }

  ul li {
    font-size: .8rem;
    list-style: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

}

.course-search {
  display: flex;
  
  input, select {
    background: #eaeaea;
    color: #333;
    border: none;
    outline: none;
    font-weight: bold;
    padding: 0 10px;

    &:hover {
      background: darken(#eaeaea, 5%);
    }

    &:active, &:focus {
      background: darken(#eaeaea, 10%);
    }
  }

  input {
    width: 100%;
    line-height: 2.5rem;
  }

  .terms-dropdown {
    position: relative;

    select {
      line-height: 2.5rem;
      width: 150px;
      border-radius: 0;
      -webkit-appearance: none;
    }

    i {
      line-height: 2.5rem;
      position: absolute;
      right: 10px;
      pointer-events: none;
    }
  }
}

  

.selected-courses {
  flex: 2;
  display: flex;
  flex-direction: column;

  .generate-schedules {
    position: relative;
    display: block;
    border: none;
    padding: 15px;
    background: #43A047;
    outline: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;

    &:hover {
      background: darken(#43A047, 5%);
    }

    &:active {
      background: darken(#43A047, 10%);
    }

    .credit-total {
      position: absolute;
      top: 15px;
      right: 15px;
      color: #A1CFA3;
    }
  }

  ul {
    flex: 1;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }

  ul li {
    position: relative;
    font-size: .8rem;
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #eee;
  }

  .course-code {
    display: block;
    font-weight: 900;
  }

  .course-title {
    font-size: 1.25rem;
  }

  p {
    max-width: 700px;
  }

  .deselect-course {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}