.schedules-view {
  display: flex;
  flex-direction: column;

  header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    flex: 1;
    display: flex;
  }

  .sidebar {
    flex: 1;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
  }
  
  .content {
    flex: 3;
    display: flex;
  }

}

.schedule-search {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  line-height: 2.25rem;

  button {
    border: none;
    padding: 0 20px;
    background: #f5f5f5;
  }

  input {
    flex: 1;
    padding: 0 20px;
    border: none;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #fff;
  }

  button {
    flex: 1;    

    &:hover {
      background: darken(#f5f5f5, 5%);
    }

    &:active {
      background: darken(#f5f5f5, 10%);
    }
  }

  input {
    flex: 3;
    text-align: center;
  }
}

.schedule-options {
  flex: 1;
  padding: 15px;
  background: #fafafa;
}

.schedule-container {
  flex: 1;
  display: flex;
}

.schedule {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.schedule-header {
  display: flex;
  color: #333;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.schedule-body {
  flex: 1;
  display: flex;
  max-height: 1440px;
  overflow-y: scroll;
  font-size: .75rem;
}

.schedule-column:first-of-type {
  width: 50px;
  flex: unset;
}

.schedule-column {
  position: relative;
  flex: 3;
  padding: 2px;
}

.schedule-hour {
  display: flex;
  align-items: flex-end;
  height: 60px;
  color: #ccc;
  justify-content: flex-end;
  padding-right: 10px;
}

.section {
  position: absolute;
  left: 3px;
  right: 3px;
  display: flex;
  flex-direction: column;
  background: #2a2a2a;
  color: #f5f5f5;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 10px;

  .course-name {
    font-weight: bold;
  }

  .section-info {
    line-height: .9rem;
  }

  &:hover, &.locked {
    left: 1px;
    right: 1px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  }

  &:hover .lock span {
    display: inline;
  }

  &.locked .lock i {
    display: inline;
  }

  .lock {
    position: absolute;
    bottom: 3px;
    right: 5px;

    i {
      display: none;
      margin-left: 5px;
    }

    span {
      display: none;
      font-weight: bold;
      font-size: .5rem;
      text-transform: uppercase;
    }
  }
}