.schedules-view {
  display: flex;
}

.schedule-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.schedule-search {
  display: flex;

  input, button {
    background: #eaeaea;
    color: #333;
    border: none;
    outline: none;
  }

  button {
    flex: 1;    
    padding: 10px;

    &:hover {
      background: darken(#eaeaea, 5%);
    }

    &:active {
      background: darken(#eaeaea, 10%);
    }
  }

  input {
    flex: 3;
    text-align: center;
    font-weight: bold;

    &:hover {
      background: darken(#eaeaea, 5%);
    }

    &:focus {
      background: darken(#eaeaea, 10%);
    }
  }
}

.schedule-options {
  flex: 1;
  padding: 15px;
  background: #fafafa;
  box-shadow: -2px 2px 15px rgba(0,0,0,.15) inset;
}

.schedule-list {
  flex: 3;
}

.schedule {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.schedule-header {
  display: flex;
  color: #333;
  padding: 10px 0;
  text-align: center;
}

.schedule-body {
  flex: 1;
  display: flex;
  max-height: 1440px;
  overflow-y: scroll;
  font-size: .75rem;
}

.schedule-column:first-of-type {
  width: 50px;
  flex: unset;
}

.schedule-column {
  position: relative;
  flex: 3;
  padding: 2px;
}

.schedule-hour {
  display: flex;
  align-items: flex-end;
  height: 60px;
  color: #ccc;
  justify-content: flex-end;
  padding-right: 10px;
}

.export-schedule {
  display: block;
  border: none;
  padding: 1em;
  background: #43A047;
  outline: none;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;

  &:hover {
    background: darken(#43A047, 5%);
  }

  &:active {
    background: darken(#43A047, 10%);
  }
}

.section {
  position: absolute;
  left: 3px;
  right: 3px;
  display: flex;
  flex-direction: column;
  background: #2a2a2a;
  color: #f5f5f5;
  padding: 5px;
  cursor: pointer;

  &:hover, &.locked {
    left: 1px;
    right: 1px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  }

  &:hover .lock span {
    display: inline;
  }

  &.locked .lock i {
    display: inline;
  }

  .lock {
    position: absolute;
    bottom: 5px;
    right: 5px;

    i {
      display: none;
      margin-left: 5px;
    }

    span {
      display: none;
      font-weight: bold;
      font-size: .5rem;
      text-transform: uppercase;
    }
  }
}